<mat-card>
    <h1>For UI - Securitize Full Stack Developer</h1>
    <br>
    <h4>Securitize - Digital Wallet Dashboard</h4>    
    <br> 
    <br>  
    <br>   
    <h2>El sitio permite:</h2>
    <br>
    <p><strong>•</strong> Login Usuario</p>
    <p><strong>•</strong> Gestionar billeteras ethereum</p>    
    <p><strong>•</strong> Ver / Editar precio del ethereum </p>    
    <br>   
    <br>
    <br>
    <h2>Visita nuestra web principal</h2>
    <br>
    <a mat-raised-button style="background-color: #Edbb4c;" href="https://www.securitize.io/">Securitize</a>   
    <br>
</mat-card>


