<div class="jumbotron">
    <h1>API</h1>
    <p class="lead">Securitize Full Stack Developer</p>   
</div>
<div class="row">
    <div class="col-md-12">
        <h2>The application have the following requirements</h2>
        <p>
            1. Add wallet addresses and display them
        </p>
        <p>2. From the set of wallets, the user should be able to select favorites and order by them</p>
        <p>
            3. We should have a way to know if a wallet is old. A wallet is considered old if the first
            transaction was performed at least one year ago.
        <p>
            4. The user should be able to do the following actions:
        <p>
            a. Get exchange rates from Euro and US Dollar to ETH (Ethereum), those can be
            stored in-memory or in any DB of your preference.
        </p>
        <p>
            b. Edit the exchange rate of Euro or US Dollar to ETH
        </p>
        <p>
            5. Given a currency (Euro or US Dollar) then the user should have the balance of the ETH
            in the wallet in the selected currency using the exchange rates from step 4.
        </p>
    </div>   
</div>
