<div *ngIf="isDesktop">
    <button mat-icon-button class="cerrar" (click)="Regresar(false)" style="right: 38px !important;" title="Cerrar">
        <mat-icon aria-hidden="false">close</mat-icon>
    </button>
</div>
<div *ngIf="!isDesktop">
    <button mat-icon-button class="cerrar-mov" (click)="Regresar(false)" title="Cerrar">
        <mat-icon aria-hidden="false">close</mat-icon>
    </button>
</div>
<mat-progress-spinner style="margin:0 auto;" diameter="300" mode="indeterminate" class="loading"
    *ngIf="mostrarCargando">
</mat-progress-spinner>
<mat-card class="mat-typography" *ngIf="Prici">
    <form #f="ngForm">   
        <div>
            <h2>Editar</h2>
        </div>  
        <h3>Fecha Ultima Actualizacion</h3>
        <mat-form-field class="mat-typography"  appearance="outline" class="all-width">
            <input matNativeControl type="datetime-local" required #ethusd_datetime="ngModel" [disabled]="true" name="ethusd_datetime" autocomplete="off"
                autocapitalize="off" autofocus [(ngModel)]="Prici.ethusd_datetime " />
            <mat-error *ngIf="ethusd_datetime.invalid">Fecha Ultima Actualizacion</mat-error>
        </mat-form-field>
        <h3>Precio US Ethereum</h3>
        <mat-form-field appearance="outline" class="all-width">
            <input matNativeControl required type="number" min="0" max="50000" name="ethusd"
                [(ngModel)]="Prici.ethusd" />
        </mat-form-field>              
    </form>
    <div [hidden]="clicked">
        <br />
        <button matRipple mat-raised-button color="primary" [disabled]="f.invalid"
            (click)="clickAceptar(); Guardar(f.value); ">
            Aceptar
        </button>
    </div>
</mat-card>
