$common-custom-typography: mat-typography-config(
  $font-family: "Montserrat, sans-serif", 
  $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 400),  
  $title: mat-typography-level(19px, 32px, 700),
  $headline: mat-typography-level(14px, 25px, 600),
  $subheading-2: mat-typography-level(13px, 21px, 500),
  $subheading-1: mat-typography-level(10px, 14px, 500) ,
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(inherit, 1.125, 400)
);


 @include angular-material-typography($common-custom-typography);


/* display-4	.mat-display-4	Large, one-off header, usually at the top of the page (e.g. a hero header).
display-3	.mat-display-3	Large, one-off header, usually at the top of the page (e.g. a hero header).
display-2	.mat-display-2	Large, one-off header, usually at the top of the page (e.g. a hero header).
display-1	.mat-display-1	Large, one-off header, usually at the top of the page (e.g. a hero header).
headline	.mat-h1, .mat-headline	Section heading corresponding to the <h1> tag.
title	.mat-h2, .mat-title	Section heading corresponding to the <h2> tag.
subheading-2	.mat-h3, .mat-subheading-2	Section heading corresponding to the <h3> tag.
subheading-1	.mat-h4, .mat-subheading-1	Section heading corresponding to the <h4> tag.
body-1	.mat-body, .mat-body-1	Base body text.
body-2	.mat-body-strong, .mat-body-2	Bolder body text.
caption	.mat-small, .mat-caption	Smaller body and hint text.
button	None. Used only in components.	Buttons and anchors.
input	None. Used only in components.	Form input fields. */
